<!DOCTYPE html>
<html lang="ml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    <meta name="description" content="{{description}}"/>
    <meta property="og:type" content="article" />
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <header id="top">
        <a href="/">
            <p lang="en">Malayalam News</p>
        </a>
        <time>{{date}}</time>
    </header>
    <hr/>
    {{{body}}}
    <hr/>
    <footer>
        <p><a href="#top">&#8593 Scroll to Top &#8593</a></p>
        <p>Source: <a href="https://manoramaonline.com">Manorama Online</a></p>
    </footer>
</body>

</html>